# Aliases
alias cp='cp -Rv'
alias ls='ls --color=auto -ACF'
alias ll='ls --color=auto -alF'
alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias grep='grep --color=auto'
alias mkdir='mkdir -pv'
alias mv='mv -v'
alias wget='wget -c'
alias dot= 'cd /dotfiles'

alias gadd='git add'
alias gcom='git commit'
alias gsup='git status'
alias goto='git checkout'

alias node='nodejs'

# python
alias pip='pip3'
alias python='python3'
alias pym='python3 manage.py'
alias mkenv='python3 -m venv venv'
alias startenv='source venv/bin/activate'
alias stopenv='deactivate'
alias pyinstall='pip install -r requirements.txt'

# Go
alias gr='go run'
alias gb='go build'
alias gt='go test'
alias gmi='go mod init'
alias gmt='go mod tidy'

# Use programs without a root-equivalent group
alias docker='docker'
alias npm='sudo npm'

# Kubernetes
alias k='kubectl'
alias kga='kubectl get all'
alias kgp='kubectl get pods'
alias k=kubectl
alias kd=kubectl delete
alias kds=kubectl describe
alias ke=kubectl edit
alias kr=kubectl run
alias kg=kubectl get

# Git aliases.
alias gs='git status'
alias gc='git commit'
alias gp='git pull --rebase'
alias gcam='git commit -am'
alias gl='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit'
