[user]
  name = "chris-caylent"
  email = "chris.gonzalez@caylent.com"
[core]
  editor = vi
  excludesfile = ~/.gitignore
  autocrlf = input
[color]
  interactive = auto
  diff = auto
  status = auto
  branch = auto
[init]
  defaultBranch = master
[web]
  browser = google-chrome
[credential]
  helper = osxkeychain
[push]
  default = simple
  followTags = true
[pull]
  rebase = true
[merge]
  tool = kdiff3
[difftool]
  prompt = false  
# [commit]
#   template = ~/.gitmessage
[alias]
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  d = diff
  dc = diff --cached
  l  = log --graph --pretty=format:'%C(bold blue)%h%Creset - %C(yellow)%d%Creset %s %C(cyan dim)(%cr)%Creset %n' --abbrev-commit --branches
